.hidden {
    display: none;
}

#calc-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: "Trebuchet MS", sans-serif;
}

.calc-blue-input {
    background: #f6f3fd;
}

.calc-section {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    overflow: auto;
}

.calc-section h3 {
    width: 100%;
    color: #4a4949;
}

.calc-label {
    box-sizing: border-box;
    width: 50%;
    padding: 8px 5px 8px 20px;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    color: #5a5a5a;
}

.calc-input {
    box-sizing: border-box;
    width: 50%;
    padding: 8px 5px 8px 20px;
    font-family: Arial;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    border-left: none;
    color: #4a4a4a;
    font-size: 16px;
}

.calc-input::before {
    content: 'R ';
}

.calc-input-years::before {
    content: '';
}

.calc-input-years::after {
    content: ' yrs';
}

.monthly-total::after {
    content: ' p.m';
}

.calc-quote {
    font-size: 15px;
    padding: 15px;
}

.total-label,
.transfer-fees-total,
.bond-fees-total,
.instalment-total-bond,
.monthly-total {
    font-weight: bold;
}

.calc-actions {
    display: flex;
    margin-bottom: 100px;
}

.calc-button {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
    transition: all linear 0.1s;
}

.calc-button:hover {
    background: #f6f3fd;
    font-size: 14px;
    transition: all linear 0.1s;
}

.calc-email-input {
    box-sizing: border-box;
    width: 29%;
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.calc-email {
    box-sizing: border-box;
    width: 18%;
    margin: 0 2%;
}

.calc-print {
    box-sizing: border-box;
    width: 30%;
    margin: 0 10%;
}

.reset-calc {
    display: block;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 5px 20px;
    font-size: 16px;
    transition: all linear 0.1s;
}

.reset-calc:hover {
    background: #f6f3fd;
    transition: all linear 0.1s;
}


@media print {
    body * {
        visibility: hidden;
    }
    #calc-container, #calc-container * {
        visibility: visible;
    }

    #calc-container {
        position: absolute;
        left: 0;
        top: 0;
    }

    .calc-actions {
        display: none;
    }
}